.navItemContainer {
  height: 100%;
}

.navItem {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.35rem;
}
 
.subMenuHeader {
  font-family: League Spartan;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: .9rem;
  line-height: 1.5rem;
}

.subMenuHeader::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: white;
  
}

.subMenuItem {
  font-family: League Spartan;
  letter-spacing: 0em;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight:300;
  
}

.underLine {
  position: relative;
}

/* Animation for underline effect on navbar*/
.underLine::after {
  content: "";
  position: absolute;
  bottom: -5.5px;
  left: 0;
  width: 0;  
  height: 0.125rem;
  background-color: #FDFDFD; 
  transition: width 250ms ease-in-out;
}
  
.navItemContainer:hover .underLine::after {
  width: 100%;
}

/* Creates a animation delay for each child of the sub menu blocks */
.subMenuContainer .subMenuBlock:nth-child(1) {
  animation-delay: calc(50ms / var(--animation-delay-divide));
}
.subMenuContainer .subMenuBlock:nth-child(2) {
  animation-delay: calc(100ms / var(--animation-delay-divide));
}
.subMenuContainer .subMenuBlock:nth-child(3) {
  animation-delay: calc(150ms / var(--animation-delay-divide));
}
.subMenuContainer .subMenuBlock:nth-child(4) {
  animation-delay: calc(200ms / var(--animation-delay-divide));
}
.subMenuContainer .subMenuBlock:nth-child(5) {
  animation-delay: calc(250ms / var(--animation-delay-divide));
}

.mobileSubMenu {
  font-family: Lato;
  font-weight: 500;
  background: linear-gradient(180deg, #FF8E8E 16.15%, #FF8E8E 33.85%, #FF9C9C 89.58%, #FFA8A8 98.8%, #FFA8A8 100%);
}

.mobileSubMenu .mobileSubItemContainer:nth-child(1) {
  animation-delay: calc(50ms / var(--animation-delay-divide));
}

.mobileSubMenu .mobileSubItemContainer:nth-child(2) {
  animation-delay: calc(100ms / var(--animation-delay-divide));
}

.mobileSubMenuContainer {
  font-weight:300;
}

.mobileSubMenuContainer .mobileSubMenuItem:nth-child(1) {
  animation-delay: calc(50ms / var(--animation-delay-divide));
}
.mobileSubMenuContainer .mobileSubMenuItem:nth-child(2) {
  animation-delay: calc(100ms / var(--animation-delay-divide));
}
.mobileSubMenuContainer .mobileSubMenuItem:nth-child(3) {
  animation-delay: calc(150ms / var(--animation-delay-divide));
}
.mobileSubMenuContainer .mobileSubMenuItem:nth-child(4) {
  animation-delay: calc(200ms / var(--animation-delay-divide));
}
.mobileSubMenuContainer .mobileSubMenuItem:nth-child(5) {
  animation-delay: calc(250ms / var(--animation-delay-divide));
}
.mobileSubMenuContainer .mobileSubMenuItem:nth-child(6) {
  animation-delay: calc(300ms / var(--animation-delay-divide));
}

.fix {
  position:fixed;
  z-index: 0;
  top: 0;
  width: 100%;
}