@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Cinzel&family=Inter:wght@600&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@400;500&family=Ledger&family=Lexend+Tera&family=Lora:wght@400;500&family=Inter:wght@300;400;500;600;700&family=Rubik:wght@300;500&family=Oswald:wght@200;300;400;500;600;700&family=Piazzolla:opsz,wght@8..30,300;8..30,500&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-delay-divide: 1.25;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}